<a href="https://colab.research.google.com/github/AsmaaAlghamd1/Asmaa_INFO5731_-Spring2021/blob/main/Alghamdi_inclass_exercise_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The fourth in-class-exercise (20 points in total, 2/9/2021)**

# 1. Text Data Preprocessing

Here is a [legal case](https://github.com/unt-iialab/info5731_spring2021/blob/main/class_exercises/01-05-1%20%20Adams%20v%20Tanner.txt) we collected from westlaw, please follow the steps we mentioned in lesson 5 to clean the data:



## 1.1 Basic feature extraction using text data (4 points)

*   Number of sentences
*   Number of words
*   Number of characters
*   Average word length
*   Number of stopwords
*   Number of special characters
*   Number of numerics
*   Number of uppercase words

## 1.2 Basic Text Pre-processing of text data (4 points)

*   Lower casing
*   Punctuation removal
*   Stopwords removal
*   Frequent words removal
*   Rare words removal
*   Spelling correction
*   Tokenization
*   Stemming
*   Lemmatization

## 1.3 Save all the **clean sentences** to a **csv file** (one column, each raw is a sentence) after finishing all the steps above. (4 points)


## 1.4 Advance Text Processing (Extra credit: 4 points)

*   Calculate the term frequency of all the terms.
*   Print out top 10 1-gram, top 10 2-grams, and top 10 3-grams terms as features.

In [185]:
My_file = open("01-05-1  Adams v Tanner.txt", "r")
Contents =My_file.read()
print("Number of sentences :", Contents.count('.'))
print("Number of words :",len(Contents.split(" ")))
print("Number of characters :",len(Contents))

Number of sentences : 291
Number of words : 3575
Number of characters : 20454

In [186]:
nltk.download('stopwords')
from nltk.corpus import stopwords as sw
import string
enStops = sw.words('english')

print("_____________________")
stopwords = len([x for x in Contents if x in enStops])
print("Number of stopwords:",stopwords)
print("_____________________")


Punctuations=len([x for x in Contents if x in string.punctuation])
print("Number of Punctuations:",Punctuations)
print("_____________________")

Numerous= len([x for x in Contents if x.isdigit()])
print("Number of numerics:",Numerous)
print("_____________________")

Upwords=len([x for x in Contents if x.isupper()])

print("Number of uppercase words:",Upwords)
print("_____________________")

lowords=len([x for x in Contents if x.islower()])
print("Number of lowercase words:",lowords)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
_____________________
Number of stopwords: 7032
_____________________
Number of Punctuations: 774
_____________________
Number of numerics: 356
_____________________
Number of uppercase words: 695
_____________________
Number of lowercase words: 14852

In [187]:
import pandas as pd
import string
from textblob import Word
from textblob import TextBlob
nltk.download('punkt')
nltk.download('wordnet')
from nltk.stem import PorterStemmer as PS

My_data=[]
for Y in Contents.split("."):
  data1=Y.replace('\r\n',' ')
  My_data.append(data1)
df=pd.DataFrame(My_data,columns=['Original Text'])

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [265]:
stop = sw.words('english')
PS = PorterStemmer()
A=df['lower Case']=df['Original Text'].apply(lambda x:" ".join(x.lower() for x in x.split()))

B=df['Punctuation Removal']=df['lower Case'].apply(lambda  x: " ".join(x for x in x.split() if x not in string.punctuation))

C=df['Stopwords Removal']=df['Punctuation Removal'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
freq= pd.Series(' '.join(df['Stopwords Removal']).split()).value_counts()[:10]


freq=list(freq.index)
E=df['Common words removal']=df['Stopwords Removal'].apply(lambda x:" ".join(x for x in x.split() if x not in freq))

rare=pd.Series(" ".join(df['Stopwords Removal']).split()).value_counts()[-10:]

rare=list(rare.index)
F=df['Rare Words removal']=df['Common words removal'].apply(lambda x:" ".join(x for x in x.split() if x not in rare))

G=df['Correction of Spelling']=df['Rare Words removal'].apply(lambda x: str(TextBlob(x).correct()))

H=df['Tokenization']=df['Correction of Spelling'].apply(lambda x: TextBlob(x).words)

J=df['Stemming']=df['Tokenization'].apply(lambda x: " ".join([PS.stem(word) for word in x]))

K=df['lemmatization']=df["Stemming"].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

df

                                         Original Text  ...                              lemmatization
0                                              \n5 Ala  ...                                      5 all
1                        740\nSupreme Court of Alabama  ...                         740 suprem alabama
2                                           \nADAMS\nv  ...                                       adam
3                                  \nTANNER AND HORTON  ...                              manner norton
4                                    \nJune Term, 1843  ...                             june term 1843
..                                                 ...  ...                                        ...
287                                                     ...
288  \nCase\n2\nFilings\nThere are no Filings for t...  ...                    case 2 file file situat
289  \nNegative Treatment\nThere are no Negative Tr...  ...  neg treatment neg treatment result situat
290  \nHistory\nThere are no History results for th...  ...              histori histori result situat
291                                                 \n  ...

[292 rows x 10 columns]

In [291]:
df.to_csv('Cleaned Data.csv',index=False)

In [303]:
new_text_list=[]
with open('Cleaned Data.csv') as M:
    writer = csv.writer(M)
  
    writer.writerows([[item] for item in new_text_list])

In [285]:
Cleansent=K.apply(lambda x:(str(x).split(" " )))
Cleansent.columns=['Clened sentences']
Cleansent

0                                              [5, all]
1                                [740, suprem, alabama]
2                                                [adam]
3                                      [manner, norton]
4                                    [june, term, 1843]
                             ...
287                                                  []
288                       [case, 2, file, file, situat]
289    [neg, treatment, neg, treatment, result, situat]
290                  [histori, histori, result, situat]
291                                                  []
Name: Stemming, Length: 292, dtype: object

In [268]:
##Calculate the term frequency of all the terms.
My_text=K.apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
My_text.columns=['Terms', 'Terms_frequency ']
print(My_text)

       Terms  Terms_frequency
0          5               8.0
1        all              16.0
2     suprem               1.0
3    alabama               1.0
4        740               2.0
..       ...               ...
731     half               1.0
732      rye               1.0
733     file               2.0
734      neg               2.0
735  histori               2.0

[736 rows x 2 columns]

In [290]:
## Print out top 10 1-gram

from nltk import ngrams
import itertools
from nltk import bigrams as b

Gram= []
for data in K:
  Gram.append(word_tokenize(data))
Nogram = [x for x in Gram if x != []]
G = list(itertools.chain.from_iterable(Nogram ))
Z = ngrams(G, 1)
print(collections.Counter(Z).most_common(10))

[(('case',), 24), (('gather',), 22), (('law',), 18), (('grow',), 17), (('all',), 16), (('contract',), 16), (('plaintiff',), 15), (('attach',), 14), (('cotton',), 14), (('2',), 13)]

# 2. Python Regular Expression

## 2.1 Write a Python program to remove leading zeros from an IP address. (4 points)

ip = "260.08.094.109"

In [130]:


import re
ip="260.08.094.109"

Remove_Zero=re.sub('\.[0]*' ,'.', ip)

print(" IP Address after removing leading zeros is: \n", Remove_Zero)

The IP Address after removing leading zeros is:
 260.8.94.109

## 2.2 Write a Python Program to extract all the years from the following sentence. (4 points)

sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

In [304]:
sentence = ("The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump.")
listy=[]   
Count=0  
s=("")     
for i in sentence:
    if i=='2':
       Count=1
    if not(i.isdigit()) and Count==1:
      Count=0                          
    if i.isdigit() and Count==1:
       s+=i                           
    if s!="" and i==" ":
      listy.append(int(s))
      s=("")                       
    
print(listy)

[2010, 2010, 2019]

In [171]:
import re
sentence = ("The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump.")

Y=re.findall(r'2\d{3}', sentence) 
print(Y)

['2010', '2010', '2019']