<a href="https://colab.research.google.com/github/AsmaaAlghamd1/Asmaa_INFO5731_-Spring2021/blob/main/Alghamdi_class_exercise_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The eighth in-class-exercise (20 points in total, 3/30/2021)**

The data for this exercise is from the dataset you created from assignment three. Please perform answer the following questions based on your data:

## (1) (10 points) Write a python program to extract the sentiment related terms from the corpus. You may use python package such as polyglot or external lexicon resources in the question. Rank the sentiment related terms by frequency.

In [184]:

!pip install polyglot
!pip install pyicu
!pip install pycld2
!pip install morfessor
import nltk
nltk.download('stopwords')

Requirement already satisfied: polyglot in /usr/local/lib/python3.7/dist-packages (16.7.4)
Requirement already satisfied: pyicu in /usr/local/lib/python3.7/dist-packages (2.6)
Requirement already satisfied: pycld2 in /usr/local/lib/python3.7/dist-packages (0.41)
Requirement already satisfied: morfessor in /usr/local/lib/python3.7/dist-packages (2.0.6)
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [186]:
import pandas as pd

d = pd.read_csv('https://raw.githubusercontent.com/AsmaaAlghamd1/Asmaa_INFO5731_-Spring2021/main/Last_version1.csv')
d = d.loc[:, ~d.columns.str.contains('^Unnamed')]

In [185]:

%%bash
polyglot download sentiment2.en

[polyglot_data] Downloading package sentiment2.en to
[polyglot_data]     /root/polyglot_data...
[polyglot_data]   Package sentiment2.en is already up-to-date!

In [187]:
from nltk.corpus import stopwords
from textblob import TextBlob


d['Uncleaned'] = d['Uncleaned'].str.replace('\d+', '')
d['Uncleaned'] = d['Uncleaned'].str.replace('[^\w\s]','')
d['Uncleaned'] = d['Uncleaned'].apply(lambda x: " ".join(x.lower() for x in x.split()))
d['Uncleaned'] = d['Uncleaned'].str.replace('[^\w\s]','')
stop = stopwords.words('english')
d['Uncleaned'] = d['Uncleaned'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
d

                                             Uncleaned  ... Sentimental Analysis
0    bvaccination workplace employers mandate emplo...  ...              Natural
1    bcovishielded nd dose vaccine taken reactions ...  ...              Natural
2    bpunjab cm warns strict steps curb covid impac...  ...              Natural
3    bi spoke friend india said wonxexxt taking vac...  ...             Negative
4    bhail harsh vardhan say delhiites spontaneousl...  ...             Positive
..                                                 ...  ...                   ...
106  bspenley u fill form thinking vaccinepassports...  ...              Natural
107  b cvs locations show covidvaccine slots canalh...  ...              Natural
108  bplz go take vaccine healthy wealthy wise nman...  ...              Natural
109               bvaccinated covidvaccine ixexxm free  ...             Positive
110  binaccurate claims covidvaccine circulate quic...  ...             Negative

[111 rows x 3 columns]

In [ ]:
from polyglot.text import Text
d['Uncleaned'] = d['Uncleaned'].apply(lambda x: str(TextBlob(x).correct()))

In [219]:
from collections import Counter
freq = Counter(sent_words)
Ranky = pd.DataFrame(list(freq.most_common()), columns=['Words', 'Frequency'])
Ranky.index = list(range(1, len(freq.most_common())+1))
Ranky

            Words  Frequency
1           first          7
2            best          2
3         welcome          2
4          normal          2
5        expected          2
6             due          2
7            sure          2
8             far          2
9            late          2
10      brilliant          2
11           less          2
12         offers          2
13         latest          1
14       absolute          1
15          harsh          1
16  spontaneously          1
17         single          1
18            new          1
19       negative          1
20           half          1
21          major          1
22          wants          1
23        pleased          1
24          quick          1
25      excellent          1
26        complex          1
27         smooth          1
28             ok          1
29        average          1
30          lucky          1
31      important          1
32           mean          1
33           mild          1
34     absolutely          1
35           okay          1
36           huge          1
37           good          1
38         center          1
39           many          1
40     ridiculous          1
41       complete          1
42        awesome          1
43         thanks          1
44      wonderful          1
45        amazing          1
46         really          1
47           glad          1
48         social          1
49        primary          1
50            hot          1
51        healthy          1
52        wealthy          1
53           wise          1
54           free          1

In [196]:
from textblob import TextBlob
words = []
sent_words = []
for i in d['Uncleaned']:
  words.append(i.split(' '))
for i in words:
  for j in i:
    if TextBlob(j).sentiment.polarity != 0:
      sent_words.append(j)
print(sent_words)

['latest', 'absolute', 'harsh', 'spontaneously', 'best', 'single', 'welcome', 'new', 'negative', 'half', 'major', 'normal', 'wants', 'expected', 'pleased', 'first', 'quick', 'excellent', 'complex', 'smooth', 'due', 'sure', 'ok', 'normal', 'average', 'lucky', 'far', 'important', 'expected', 'sure', 'first', 'late', 'mean', 'mild', 'absolutely', 'okay', 'huge', 'first', 'good', 'first', 'center', 'far', 'many', 'ridiculous', 'complete', 'brilliant', 'first', 'awesome', 'thanks', 'wonderful', 'amazing', 'welcome', 'really', 'glad', 'first', 'less', 'offers', 'first', 'brilliant', 'best', 'offers', 'social', 'less', 'primary', 'hot', 'late', 'due', 'healthy', 'wealthy', 'wise', 'free']

In [229]:
from collections import Counter
import numpy as np
word_count = Counter(sent_words)
words_frame = pd.DataFrame(list(zip(list (word_count.keys()),list (word_count.values()))), columns = ['words', 'Frequency'])
words_frame = words_frame.sort_values(by=['Frequency'], ascending=False)
words_frame.insert( 0,"Rank", np.arange(1,len(words_frame)+1), True)
words_frame

    Rank          words  Frequency
15     1          first          7
46     2         offers          2
25     3            far          2
38     4      brilliant          2
21     5           sure          2
20     6            due          2
13     7       expected          2
45     8           less          2
11     9         normal          2
27    10           late          2
4     11           best          2
6     12        welcome          2
47    13         social          1
33    14           good          1
34    15         center          1
35    16           many          1
36    17     ridiculous          1
52    18           wise          1
37    19       complete          1
51    20        wealthy          1
39    21        awesome          1
50    22        healthy          1
48    23        primary          1
40    24         thanks          1
41    25      wonderful          1
42    26        amazing          1
43    27         really          1
31    28           okay          1
44    29           glad          1
49    30            hot          1
32    31           huge          1
0     32         latest          1
30    33     absolutely          1
29    34           mild          1
2     35          harsh          1
3     36  spontaneously          1
5     37         single          1
7     38            new          1
8     39       negative          1
9     40           half          1
10    41          major          1
12    42          wants          1
14    43        pleased          1
16    44          quick          1
17    45      excellent          1
18    46        complex          1
19    47         smooth          1
22    48             ok          1
23    49        average          1
24    50          lucky          1
26    51      important          1
1     52       absolute          1
28    53           mean          1
53    54           free          1

In [198]:
d = pd.read_csv("Last_version1.csv",sep='\t',names=['Sentimental Analysis', 'Uncleaned'])

In [217]:
Original_positive = 0;Original_negative = 0;Original_neutral = 0
for i in d['Sentimental Analysis']:
  if i == 'Positive':
    Original_positive += 1
  elif i == 'Negative':
    Original_negative += 1
  elif i == 'Neutral':
    Original_neutral += 1
print('Original Positive = ', Original_positive)
print('Original Negative = ', original_negative)
print('Original Neutral = ', Original_neutral)

Original Positive =  0
Original Negative =  0
Original Neutral =  0

## (2) (10 points) Compare the performance of the following tools in sentiment identification: TextBlob (https://textblob.readthedocs.io/en/dev/), VADER (https://github.com/cjhutto/vaderSentiment), TFIDF-based Support Vector Machine (SVM) (Split your data into training and testing data). Take your own annotation as the standard answers. 

Reference code: https://towardsdatascience.com/fine-grained-sentiment-analysis-in-python-part-1-2697bb111ed4

In [205]:

# Write your code here
def perform(i):
  sentiment1 = 0
  if i == 'Positive':
    sentiment1 = 1
  elif i == 'Negative':
    sentiment1 = 2
  return sentiment1


Actual_sent = []
for i in d['Sentimental Analysis']:
  Actual_sent.append(perform(i))

from textblob import TextBlob
sentiment2 = []
for sen in d['Sentimental Analysis']:
  p = TextBlob(sen).sentiment.polarity
  if p > 0:
    sentiment2.append(1)
  elif p < 0:
    sentiment2.append(2)
  elif p == 0.0:
    sentiment2.append(0)
Data1 = pd.DataFrame(list(zip(d['Sentimental Analysis'], Actual_sent,sentiment2)), columns = ['Reviews', 'Actual', 'Predicted'])
Data1

                                               Reviews  Actual  Predicted
0        ,Uncleaned,Cleaned data,Sentimental Analysis        0          0
1    0,b'Vaccination And The Workplace- Can Employe...       0          0
2    1,b'Covishield-ed. 2nd dose of vaccine taken. ...       0          0
3    2,b'Punjab: CM Warns Of Strict Steps To Curb C...       0          1
4    3,b'I spoke to a friend from India and she sai...       0          1
..                                                 ...     ...        ...
107  106,b'@spenley Did u have to fill in a form? T...       0          0
108  107,b'86 CVS locations show #CovidVaccine slot...       0          0
109  108,b'Plz go and take your vaccine and be Heal...       0          1
110  109,b'Vaccinated #CovidVaccine I\xe2\x80\x99m ...       0          1
111  110,b'Inaccurate claims about the #COVIDVaccin...       0          2

[112 rows x 3 columns]

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from textblob import TextBlob
nltk.download('vader_lexicon')
positive = 0;negative = 0;neutral = 0
SentAnalyzer = SentimentIntensityAnalyzer()
for i in d['Uncleaned']:
  sent = TextBlob(i)
  if SentAnalyzer.polarity_scores(i)['compound'] > 0:
    positive += 1
  elif SentAnalyzer.polarity_scores(i)['compound'] < 0:
    negative += 1
  elif SentAnalyzer.polarity_scores(i)['compound'] == 0:
    neutral += 1
print("Positive = ", positive)
print("Negative = ", negative)
print("Neutral = ", neutral)

In [210]:

from sklearn.metrics import f1_score, accuracy_score
Acc_textblob = accuracy_score(tb_df['Actual'], tb_df['Predicted'])*100
Scor_textblob = f1_score(tb_df['Actual'], tb_df['Predicted'], average = 'macro')
print("Text Blob Accuracy is {0}\nF1 Score is {1}".format(Acc_textblob, Scor_textblob ))

Text Blob Accuracy is 29.464285714285715
F1 Score is 0.15172413793103448

In [175]:

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

tfid_vector = TfidfVectorizer(min_df = 5,
                             max_df = 0.8,
                             sublinear_tf = True,
                             use_idf = True)

In [ ]:
x1, y1, x2, y2 = train_test_split(d['Uncleaned'],d['Sentimental Analysis'],test_size=0.33)
Encoder = LabelEncoder()
x2 = Encoder.fit_transform(x2)
y2 = Encoder.fit_transform(y2)
x1_tran = tfid_vector.fit_transform(x1)   
y1_tran = tfid_vector.transform(y1)

In [ ]:

from sklearn import svm
from sklearn.metrics import classification_report
svm_model = svm.SVC(kernel='linear')
svm_model.fit(x1_tran, x1)   
predicted = svm_model.predict(y1_tran)
Result1 = classification_report( y2 , predicted, output_dict=True)
Result1