<a href="https://colab.research.google.com/github/AsmaaAlghamd1/Asmaa_INFO5731_-Spring2020/blob/main/Alghamdi_In_class_exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (1/19/2021, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [ ]:
# write your answer here
x= "My name is asmaa"
print(len(x))

16

In [ ]:
def length_string(s):
    count = 0
    for string in s:
        count += 1
    return count
print(length_string('my name is asmaa'))

16

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
def char_number(string):
    dict = {}
    for s in string:
        keys = dict.keys()
        if s in keys:
            dict[s] += 1
        else:
            dict[s] = 1
    return dict
print(char_number('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [ ]:
def Sum(numbers):
    start = 0
    for x in numbers:
        start += x
    return start
print(sum([2,4,8]))

14

In [ ]:
S=[1,2,3, 4,5]
print(Sum(S))

15

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [73]:
def Sub_String(fstring):
  char = fstring[5]
  fstring = fstring.replace(char, '$')
  fstring = char + fstring[1:]

  return fstring

print(Sub_String('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [77]:
a = float(input ("Input the the value of a  : "))
b = float(input ("Input the the value of b  : "))
pi = 3.1415933
S= pi * (1+a/b)**3
print(S)

Input the the value of a  : 2
Input the the value of b  : 3
14.544413425925919

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [78]:
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
Newdic = {}
for d in (dic1, dic2, dic3): 
  Newdic.update(d)
print(Newdic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [ ]:

X = (1,3,0,6)
element = 2
if element in X:
    print(element," is existing in tuple")
else:
    print(element,"is not existing intuple")

2 is not existing  in tuple

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [ ]:
S=[1,2,3, 4,5]
print(max(S),'is the maximum number')
print(min(S),'is the minimum number')

5 is the maximum number
1 is the minimum number

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [21]:
import random
student_Eud = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
Group_range  = []

for i in range(5):
  Group_range .append(random.randint(3,5))

  
print("students' list is:", student_Eud )
print(" Group Range: ", Group_range )
from itertools import islice


Input = iter(student_list)
Output  = [list(islice(Input, elem)) for elem in Group_range ]
print("List after splitting", Output)

students' list is: ['vmb0067', 'pc0353', 'snd0097', 'yye0005', 'sg0940', 'bk0301', 'rak0120', 'rrk0058', 'spk0057', 'vl0135', 'nm0547', 'pn0159', 'msp0174', 'dd0420', 'ds0761', 'rs0850', 'ss1995', 'at0739', 'at0768', 'mv0299', 'tv0119', 'dy0091']
 Group Range:  [3, 5, 5, 3, 3]
List after splitting [['vmb0067', 'pc0353', 'snd0097'], ['yye0005', 'sg0940', 'bk0301', 'rak0120', 'rrk0058'], ['spk0057', 'vl0135', 'nm0547', 'pn0159', 'msp0174'], ['dd0420', 'ds0761', 'rs0850'], ['ss1995', 'at0739', 'at0768']]