<a href="https://colab.research.google.com/github/AsmaaAlghamd1/Asmaa_INFO5731_-Spring2021/blob/main/Alghamdi_In_class_exercise_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third In-class-exercise (9/16/2020, 20 points in total)

The purpose of this exercise is to under users' information needs, then collect the data for analysis.

Question 1 (8 points): Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
The search question is:
In 2021, What the largest and smallest cities in Texas by population?
And what is the Texas population density by the Race and Households ? 


The source of data is (https://worldpopulationreview.com/states/cities/texas)

I used the BeautifulSoup library to scraping data from the world population website by using find(URL),and using “prettify” function for HTML page
 Then find the required table by specifying the table name.
I extracted the table for Texas' 500 cities name along with their population.
Then I get the result of the five biggest cities in population and the five lowest population cities.
Also, I extracted the population by Race and Householders by using read_html function.     
 
 Finally, I got interesting results. I thought Dallas is the biggest city of population ,but I found that  Houston is the biggest one.
 However, by the Households, the marred people is the most for Owner, and by the Race, White people is the most In Texas 






'''

Question 2 (12 points): Write python code to collect 500 items of the data you plan to collect above.

In [ ]:
import pandas as pd
import requests
import urllib.request as ur
Pop = "https://worldpopulationreview.com/states/cities/texas"
page = ur.urlopen(Pop)
from bs4 import BeautifulSoup as bs
soup = bs(page)
print(soup.prettify())
soup.a
soup.find_all("a")

In [ ]:

for link in soup.find_all("a"):
  print(link.get("href"))

In [ ]:
Population = soup.find(class_="jsx-2642336383 table-container")
print(Population)


Pop_data = []

for data in Population.findAll("tr"):
  cells = data.findAll('td')
  states=data.findAll('th')
  if len(cells)==6:
      item = []
      item.append(cells[0].find(text=True).strip("\n"))
      item.append(cells[1].find(text=True).strip("\n"))
      item.append(cells[2].find(text=True).strip("\n"))
      item.append(cells[3].find(text=True).strip("\n"))
      item.append(cells[4].find(text=True).strip("\n"))
      item.append(cells[5].find(text=True).strip("\n"))
      Pop_data.append(item)
print(Pop_data)

Pop_new = []

Titles = ['Rank','City Name','2021 Population ','2010 Census','Change','Density']
for record in Pop_data:
    record_dict = dict(zip(Titles ,record))
    Pop_new.append(record_dict)
print(Pop_new)

In [24]:
import pandas as pd

Y=pd.DataFrame(Pop_new)
Y

    Rank      City Name 2021 Population  2010 Census   Change Density
0      1        Houston        2,323,660   2,100,280   10.64%     541
1      2    San Antonio        1,581,730   1,332,300   18.72%     486
2      3         Dallas        1,347,120   1,200,350   12.23%     591
3      4         Austin        1,011,790     806,164   25.51%     471
4      5     Fort Worth          942,323     748,441   25.90%     406
..   ...            ...              ...         ...      ...     ...
495  496          Clyde            3,811       3,691    3.25%     173
496  497        Barrett            3,807       3,199   19.01%      89
497  498       Presidio            3,748       4,466  -16.08%     217
498  499  West Columbia            3,746       3,894   -3.80%     223
499  500          Crane            3,740       3,353   11.54%     539

[500 rows x 6 columns]

The rsearch questions were answered by finding this table.
The biggest city of population in Texas is Houston with rank 1
The lowest city of population in Texas is Crane with rank 500

In [12]:
# Another way to extract Other tables from the same website 
from pandas.io.html import read_html
page = "https://worldpopulationreview.com/states/texas-population"

X = read_html(page,  attrs={'class':"jsx-1487038798"})

print ("Extracted {num} ".format(num=len(X)))

Extracted 13

In [17]:
#Table 2
print('\n\n'"The population by Race ""\n\n",(X[0]))

The population by Race

                                          Race  Population Percentage
0                                       White    20903340     73.97%
1                   Black or African American     3428214     12.13%
2                             Some Other Race     1643865      5.82%
3                                       Asian     1357269      4.80%
4                           Two or More Races      761411      2.69%
5           American Indian and Alaska Native      141425      0.50%
6  Native Hawaiian and Other Pacific Islander       25292      0.09%

In [16]:
#table 3
print("The population by Households:""\n\n",(X[1]))

The population by Households:

          Type  Owner Renter
0     Married  77.7%  22.3%
1         All    62%    38%
2        Male  51.8%  48.2%
3      Female  46.4%  53.6%
4  Non Family  44.8%  55.2%